body{
    background-color: rgb(115, 0, 255);
    font-family: sans-serif;
    text-align: center;
    z-index:-2 ;
}
.container{
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    margin: auto;
    width: 430px;
    border-radius: 20px;
    border: 3px solid rgb(115, 0, 255);
}

h1{
    color: rgb(115, 0, 255);
}
.subtitle{
    color: gray;
    font-size: 12px;
}
.score-section{
    display: flex;
    justify-content: space-around;
    color: white;
}
.score-box{
    background-image: linear-gradient(135deg, rgb(38, 0, 255),rgb(115, 0, 255), rgb(95, 7, 203));
    height: 100px;
    width: 165px;
    padding: 15px;
    border-radius: 15px;
}

h2{
    margin-top: 10px;
    font-size: 20px;
}
.score{
    font-size: 40px;
    font-weight: bold;
}

.timer-section h2{
    margin-top: 30px;
    margin-bottom: 5px;
}

.timer{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}

.reset-btn, .start-btn{
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    width: 400px;
    height: 37px;
    margin-bottom: 15px;
    padding: 5px;
}
.start-btn{ 
    background-color: rgb(115, 0, 255);
}
video{
 position: absolute;
 z-index: -1;
 top: 0;
 left: 0;
 padding-left: 10vw;
 padding-right: 10vw;
 width: 100vw;
 box-sizing: border-box;
 display: none;
}

.status-message{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 5px;
}

.click-btn{
    width: 400px;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    height: 50px;
    margin: 15px;
    background-color: gray;
}
.pause-btn{
    width: 400px;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    height: 50px;
    margin: 15px;
    display: none;
    background-color: yellow;
}
.resume-btn{
    width: 400px;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    height: 50px;
    margin: 15px;
    display: none;
    background-color: green;
}